@charset "utf-8";

	
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
}
p a h1 h2 h3 h4 {
	font-family:"Times New Roman", Times, serif;
	
}

a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #fff; 
	text-decoration: none;
}
a:hover {
	color: #;
	text-decoration: none;
}
a:active {
	color: #fff;
	text-decoration: none;
} 
	.content {
		width:750px;
		margin: 0 auto;
		position:relative;
		height: !important;
	
	}
.logo{
	margin-top:10px;
	width:310px;
	margin-left:25px;
	position:relative;
	height: 0;
}
	.menu {
		margin: 0 auto;
		position:relative;
		height: 60px;
		width: 750px;
	}
	.menu ul{
		width: 990px;
		padding:0;
		margin:0;
	}
	
	.menu ul li{
		margin-left: 13px;
		margin-right: 160px;
		list-style: none;
		float: left;
		font-size: 34px;
	}
	.menu ul li a{
		display:block;
		float:left;
		text-align:center;
		padding: 15px 15px 0 15px;
		width:!important;
		height:45px;
		line-height:25px;
		text-decoration:none;
		font-family: Georgia, "Times New Roman", Times, serif;
		color:#fff;
		text-shadow:0px 0px 5px #000;
	
	}
	.menu ul li a:hover{
		
		background-color:#44567d;
	}

.conteudo{
	width:750px;
	margin: 0 auto;
	position:relative;
	height: 100%;
	margin-top: -90px;
	height:!important;	
}
	.info a{
		text-decoration:none;
	}
	.info a:hover{
		text-shadow:3px 2px 5px #555;
	}
	.info img {
		margin-top:5px;
		margin-right:200px;
		margin-left: -19px;
	}
	.info p{
		margin-top:-41px;	
		margin-left: 50px;
		color:#fff;
		text-decoration:none;
		text-shadow:0px 0px 5px #000;
	}
	.info ul{
		margin-top:30px;
		margin-right:15px;
		float:right;
		list-style:none;
	}	
	.info li{
		padding:0 0 7px 0;
		width: 300px;
		height:45px;
		background-color:#52658c;	
		margin-top:3px;
		text-align:center;	
		border:solid 1px #51648d;
		-moz-border-radius-topleft: 75px;
		-moz-border-radius-topright: 75px;
		-moz-border-radius-bottomleft: 75px;
		-moz-border-radius-bottomright: 75px;
		-webkit-border-top-left-radius:75px;
		-webkit-border-top-right-radius:75px;
		-webkit-border-bottom-left-radius:75px;
		-webkit-border-bottom-right-radius:75px;
		border-top-left-radius:75px;
		border-top-right-radius:75px;
		border-bottom-left-radius:75px;
		border-bottom-right-radius:75px;
	}
	.info li:hover{
		background-color:#44567d;
	}
	#fone:hover{
		background-color:#52658c;
	}
	#email p {
		margin-top:-38px;
	}
	#email img{
		margin-top:8px;	
	}
	#email:hover{
		background-color:#52658c;
	}
	


.titulo h1{
	font-family: font-family: Georgia, "Times New Roman", Times, serif;
	margin-top:90px;
	margin-bottom:0px;
	text-align:center; 
	color:#52658c;
}
	.bloco {
		width: 750px;
		height: 461px;
		position:relative;
		text-decoration:none;
		margin-bottom: -15px;
		text-align:center;	
	}
	.bloco p{
		font-size:12px;
		overflow:auto;
		color:#006;
		
	}
	.bloco ul{
		width: 750px;
		padding:0;
		margin:0;
	}
	.bloco h3{
		text-align:center;	
		color:#006;
	}
	.bloco ul li{
		background-color: #f3f3f3;
		font-family:Tahoma, Geneva, sans-serif;
		list-style:none;
		display:block;
		float:left;
		padding: 0 15px;
		width: 345px;
		height:230px;
		color:#006;
	   -webkit-transition:background 0.5s ease-out;
	   -moz-transition:background 0.5s ease-out;
	   -o-transition:background 0.5s ease-out;
	   -ms-transition:background 0.5s ease-out;
	   border-bottom:solid 1px #51648d;
	}
	.bloco ul li:hover{
		background-color:#a7b1c7;
		filter:alpha(opacity=100);
		-moz-opacity:1;
		opacity:1;
	}



	.rodape{
		margin: 0 auto;
		position:relative;
		margin-top:0px;
		margin-bottom:15px;
		padding-bottom:1px;
		width:750px;
		height:!important;
		text-align:center;
		padding-top: 10px;
	}
	.rodape p{
		color:#fff;
		
	}
	.rodape a{
		color:#52658c;
		background-color:#f3f3f3;
		-moz-border-radius-topleft: 75px;
		-moz-border-radius-topright: 75px;
		-moz-border-radius-bottomleft: 75px;
		-moz-border-radius-bottomright: 75px;
		-webkit-border-top-left-radius:75px;
		-webkit-border-top-right-radius:75px;
		-webkit-border-bottom-left-radius:75px;
		-webkit-border-bottom-right-radius:75px;
		border-top-left-radius:75px;
		border-top-right-radius:75px;
		border-bottom-left-radius:75px;
		border-bottom-right-radius:75px;
		padding:0 6px;
		-moz-box-shadow:0px 0px 5px #000;
		-webkit-box-shadow:0px 0px 5px #000000;
		box-shadow:0px 0px 5px #000000;
	}
	.rodape a:hover{
		background-color:#dddddd;
		-moz-box-shadow:0px 0px 3px #000;
		-webkit-box-shadow:0px 0px 3px #000000;
		box-shadow:0px 0px 3px #000000;
	}
.barraDeFundo{
	height: 60px;
	width: 100%;
	background-color: #52658c;
	border-bottom: solid 1px #3a4c72
}
	.fundo{
		background-color:#f3f3f3;
		width: 100%;
		border-top:solid 1px #ddd;
	}
.fundo2{
	padding-top: 1px;
	width:100%;
	background-color:#fff;
	height:260px;
}
	.fundorodape{
		margin-top: 15px;
		height: 150px;
		background-color:#52658c;
		width: 100%;
		border-top:solid 1px #3a4c72;
	}


.menulateralexames{
	width:200px;
	position:relative;
}
.menulateralexames ul{
	
	list-style:none;
	margin-left:-40px;
	margin-top:-5px;
}
.menulateralexames a{
	text-decoration:none;
	color:#fff;
}
.menulateralexames h3{
	margin-top: 8px;
}
.menulateralexames li{
	margin:0;
	margin-bottom:-1px;
	color:#52658c;
	text-align:center;
	background-color: #d4d5ef;
	height:40px;
	border: solid 1px #ececed;
	border-right: solid 0px #fff;
	-webkit-transition:background 0.5s ease-out;
	-moz-transition:background 0.5s ease-out;
    -o-transition:background 0.5s ease-out;
    -ms-transition:background 0.5s ease-out;
	-moz-border-radius-topleft: 75px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 75px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-left-radius:75px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:75px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:75px;
	border-top-right-radius:0px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:0px;
}
.menulateralexames li:hover{
	background-color:#52658c;
	color:#fff;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
	text-shadow:0px 0px 5px #000;
}
#menuon{
	background-color:#52658c;
	color:#fff;
	text-shadow:0px 0px 5px #000;
}
#menuon a{
	color:#fff;
}

	.conteudoexames{
		border:solid 3px #52658c;
		margin-left:200px;
		margin-top: -180px;
		padding:0px 5px 0px 5px;
		width:540px;
		overflow:hidden;
		background-color: #fff;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;	
	}
	.conteudoexames img{
		margin:0;
		margin-left:-5px;
	}
	.conteudoexames p{
		text-indent:40px;			
	}
	.conteudoexames h2{
		color: #52658c;	
	}
	.conteudoexames h3{
		color: #52658c;	
	}
	#conteudotitulo{
		text-align:center;
		color:#fff;
		background-color: #52658c;	
		margin:0;
		margin-right:-5px;
		margin-left:-5px;
		padding-left:10px;
		text-shadow:0px 0px 5px #000;
	
	}
	#conteudoimg {
		border: solid 2px #52658c;	
		margin-left:5px;
		margin-right: 0px;
		-moz-border-radius-topleft: 15px;
		-moz-border-radius-topright: 15px;
		-moz-border-radius-bottomleft: 15px;
		-moz-border-radius-bottomright: 15px;
		-webkit-border-top-left-radius:15px;
		-webkit-border-top-right-radius:15px;
		-webkit-border-bottom-left-radius:15px;
		-webkit-border-bottom-right-radius:15px;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		border-bottom-left-radius:15px;
		border-bottom-right-radius:15px;	
	}	
	
#carrossel{
	background-color:#000;
	width:550px;
	height: 200px;
	overflow: hidden;
	margin:0;
	margin-left:-5px;
	border:solid 2px #000;
}

#carrossel ul{
	list-style:none;
}
#carrossel ul li{
	float:left;
	display:inline;	
}
	.conteudosobre{
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		border:solid 2px #52658c;
		padding-left:5px;
		background-color:#fff;
		overflow:hidden;
	}
	.conteudosobre img{
		margin-left:-5px;
	}
	.conteudosobre h2{
		color: #52658c;
	}
	.conteudosobre p{
		text-indent:40px;
	}
	#sobretitulo {
		background-color:#52658c;
		text-align:center;
		font-size:28px;
		color:#fff;
		margin:0;
		margin-left:-5px;
		padding-left: 5px;
		text-shadow:0px 0px 5px #000;
	}
.conteudolocalizacao{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border:solid 2px #52658c;
	background-color:#fff;
}
#visualizarCDI {
	background-color: #52658c;
	text-align:center;
	color:#fff;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top:5px;
	padding-bottom: 5px;
	width:400px;
	-moz-border-radius-topleft: 75px;
	-moz-border-radius-topright: 75px;
	-moz-border-radius-bottomleft: 75px;
	-moz-border-radius-bottomright: 75px;
	-webkit-border-top-left-radius:75px;
	-webkit-border-top-right-radius:75px;
	-webkit-border-bottom-left-radius:75px;
	-webkit-border-bottom-right-radius:75px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
}
#visualizarCDI:hover {
	background-color: #44567d;
	
}

#visualizarCDI a{
	text-align:center;
	color:#fff
	
}
	
	.img3d4d{
		margin-top:40px;
		padding:0;
		position:relative;
		width:312px;
		height:154px;
		background-color: #52658c;
		margin-left:400px;
		-moz-border-radius-topleft: 15px;
		-moz-border-radius-topright: 15px;
		-moz-border-radius-bottomleft: 15px;
		-moz-border-radius-bottomright: 15px;
		-webkit-border-top-left-radius:15px;
		-webkit-border-top-right-radius:15px;
		-webkit-border-bottom-left-radius:15px;
		-webkit-border-bottom-right-radius:15px;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		border-bottom-left-radius:15px;
		border-bottom-right-radius:15px;
	}
	
	.img3d4d ul{
		padding:0;
		padding-left:3px;
		height:152px;
		width:314px;
	}
	
	.img3d4d li {
		padding:0;
		padding-top:0px;
		text-align:center;
		width: 152px;
		height:152px;
		list-style:none;
		display:inline-block;
	}
	.img3d4d img{
		width:150px;
		height:150px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 15px;
		-moz-border-radius-bottomleft: 0px;
		-moz-border-radius-bottomright: 15px;
		-webkit-border-top-left-radius:0px;
		-webkit-border-top-right-radius:15px;
		-webkit-border-bottom-left-radius:0px;
		-webkit-border-bottom-right-radius:15px;
		border-top-left-radius:0px;
		border-top-right-radius:15px;
		border-bottom-left-radius:0px;
		border-bottom-right-radius:15px;
	}
	.img3d4d h1{
		margin-top:40px;
		width:150px;
		position:absolute;
		padding-left: -20px;
		font-size:200%;
		text-shadow:0px 0px 60px #fff;
	}
	.img3d4d:hover{
		background-color:#44567d;
	}
	
#carrossel2{
	background-color:#000;
	width:746px;
	height: 230px;
	overflow: hidden;
	margin:0;
	margin-left:-5px;
}

#carrossel2 ul{
	list-style:none;
}
#carrossel2 ul li{
	float:left;
	display:inline;	
}	