/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.bluecdi{
  background-color: #52658c !important;
}

.bluecdi-text{
  color: #52658c !important;
}

.light-bluecdi{
  background-color: #7F9CD8 !important;
}

.light-bluecdi-text{
  color: #7F9CD8 !important;
}

.dark-bluecdi{
  background-color: #344059 !important;
}

.dark-bluecdi-text{
  color: #344059 !important;
}

.greycdi{
  background-color: #C0C8D8 !important;
}

.greycdi-text{
  color: #C0C8D8 !important;
}


.slide1{
    background: url( '../img/Ultrassonografia3d4d.jpg' ) no-repeat center center ; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    background-color: #cccccc; 
}

.slide2{
  background: url( '../img/mamografia2.png' ) no-repeat center center ; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

  background-color: #cccccc; 
}

.slide3{
  background: url( '../img/RAIO-X.png' ) no-repeat center center ; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

  background-color: #cccccc; 
}

.conteudoexames p.conteudo{
  text-indent:40px;     
}